In [ ]:
import pandas as pd

1. Standardize and combine data into a common file

In [ ]:
df_common_club = pd.read_csv('/content/the_common_club.tsv', delimiter='\t')

In [ ]:
df_common_club.head()

,name,date_of_birth,company_id,last_active,score,joined,us_state
0,Mikayla Brennan,11/02/1966,2,07/04/2018,84,1989,Illinois
1,Thomas Holmes,11/29/1962,1,05/15/2018,92,1972,Wisconsin
2,Corey Jones,12/20/1964,7,08/25/2018,47,2007,New Mexico
3,Laura Howard,04/26/1989,8,04/15/2018,76,1976,New Jersey
4,Daniel Mclaughlin,06/19/1966,13,05/10/2018,56,1986,Rhode Island

In [ ]:
df_common_club.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7652 entries, 0 to 7651
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7652 non-null   object
 1   date_of_birth  7652 non-null   object
 2   company_id     7652 non-null   int64
 3   last_active    7652 non-null   object
 4   score          7652 non-null   int64
 5   joined         7652 non-null   int64
 6   us_state       7652 non-null   object
dtypes: int64(3), object(4)
memory usage: 418.6+ KB

In [ ]:
df_wealthy = pd.read_csv('/content/the_wealthy_club.csv')
df_wealthy.head()
#df_wealthy.info()

,first_name,last_name,dob,company_id,last_active,score,member_since,state
0,Robert,Mclaughlin,3/26/1967,3,8/25/2018,57,2013,OR
1,Brittany,Norris,9/6/1972,12,3/29/2018,73,1986,MD
2,Sharon,Nichols,4/19/1971,7,4/11/2018,92,1985,WY
3,Christopher,Ware,5/25/1977,11,7/20/2018,74,2003,PA
4,Kevin,Scott,12/15/1981,8,11/20/2018,42,1994,MN

In [ ]:
#split name column into first_name and last_name
name_split = df_common_club['name'].str.split()

#function to handle the splitting logic
def split_name(name_parts):
    if len(name_parts) >= 3 and name_parts[0] in ['Dr.', 'Ms.', 'Mrs.', 'Mr.']:
        first_name = name_parts[1]
        last_name = name_parts[2] + ' ' + name_parts[0]
    else:
        first_name = name_parts[0]
        last_name = ' '.join(name_parts[1:])
    return pd.Series([first_name, last_name])

In [ ]:
df_common_club[['first_name', 'last_name']] = name_split.apply(split_name)

In [ ]:
#check
filtered_row = df_common_club[df_common_club['name'] == 'Dr. Adam Hale']
print(filtered_row)

               name date_of_birth  company_id last_active  score  joined  \
5413  Dr. Adam Hale    11/18/1962          18  06/16/2018     31    1989

     us_state first_name last_name
5413  Indiana       Adam  Hale Dr.

In [ ]:
df_common_club.drop('name', axis=1, inplace=True)

#reorder column
last_two_columns = df_common_club.iloc[:, -2:]
df_common_club = df_common_club.drop(df_common_club.columns[-2:], axis=1)
df_common_club = pd.concat([last_two_columns, df_common_club], axis=1)
df_common_club.head()

,first_name,last_name,date_of_birth,company_id,last_active,score,joined,us_state
0,Mikayla,Brennan,11/02/1966,2,07/04/2018,84,1989,Illinois
1,Thomas,Holmes,11/29/1962,1,05/15/2018,92,1972,Wisconsin
2,Corey,Jones,12/20/1964,7,08/25/2018,47,2007,New Mexico
3,Laura,Howard,04/26/1989,8,04/15/2018,76,1976,New Jersey
4,Daniel,Mclaughlin,06/19/1966,13,05/10/2018,56,1986,Rhode Island

In [ ]:
#convert date into the DD/MM/YYYYformat
df_common_club['date_of_birth'] = pd.to_datetime(df_common_club['date_of_birth'])
df_common_club['last_active'] = pd.to_datetime(df_common_club['last_active'])

#df_common_club['date_of_birth'] = df_common_club['date_of_birth'].dt.strftime('%d/%m/%Y')
#df_common_club['last_active'] = df_common_club['last_active'].dt.strftime('%d/%m/%Y')
df_common_club.head()

,first_name,last_name,date_of_birth,company_id,last_active,score,joined,us_state
0,Mikayla,Brennan,1966-11-02,2,2018-07-04,84,1989,Illinois
1,Thomas,Holmes,1962-11-29,1,2018-05-15,92,1972,Wisconsin
2,Corey,Jones,1964-12-20,7,2018-08-25,47,2007,New Mexico
3,Laura,Howard,1989-04-26,8,2018-04-15,76,1976,New Jersey
4,Daniel,Mclaughlin,1966-06-19,13,2018-05-10,56,1986,Rhode Island

In [ ]:
#replace US states with 2 charachter abbreviations

# Mapping dictionary for US state abbreviations
state_mapping = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY'
}

df_common_club['us_state'] = df_common_club['us_state'].map(state_mapping)
#df_common_club.head()

In [ ]:
#convert date into the DD/MM/YYYYformat
df_wealthy['dob'] = pd.to_datetime(df_wealthy['dob'])
df_wealthy['last_active'] = pd.to_datetime(df_wealthy['last_active'])

#df_wealthy['dob'] = df_wealthy['dob'].dt.strftime('%d/%m/%Y')
#df_wealthy['last_active'] = df_wealthy['last_active'].dt.strftime('%d/%m/%Y')
df_wealthy.head()

,first_name,last_name,dob,company_id,last_active,score,member_since,state
0,Robert,Mclaughlin,1967-03-26,3,2018-08-25,57,2013,OR
1,Brittany,Norris,1972-09-06,12,2018-03-29,73,1986,MD
2,Sharon,Nichols,1971-04-19,7,2018-04-11,92,1985,WY
3,Christopher,Ware,1977-05-25,11,2018-07-20,74,2003,PA
4,Kevin,Scott,1981-12-15,8,2018-11-20,42,1994,MN

In [ ]:
#combine two files into master file
#check types and names
df_common_club.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7652 entries, 0 to 7651
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     7652 non-null   object
 1   last_name      7652 non-null   object
 2   date_of_birth  7652 non-null   datetime64[ns]
 3   company_id     7652 non-null   int64
 4   last_active    7652 non-null   datetime64[ns]
 5   score          7652 non-null   int64
 6   joined         7652 non-null   int64
 7   us_state       7652 non-null   object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 478.4+ KB

In [ ]:
df_wealthy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8466 entries, 0 to 8465
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    8466 non-null   object
 1   last_name     8466 non-null   object
 2   dob           8466 non-null   datetime64[ns]
 3   company_id    8466 non-null   int64
 4   last_active   8466 non-null   datetime64[ns]
 5   score         8466 non-null   int64
 6   member_since  8466 non-null   int64
 7   state         8466 non-null   object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 529.2+ KB

In [ ]:
# Rename the 'joined' column to 'member_since'
df_common_club.rename(columns={'joined': 'member_since'}, inplace=True)

#rename the 'date_of_birth' to 'dob'
df_common_club.rename(columns={'date_of_birth': 'dob'}, inplace=True)

# Rename the 'us_state' column to 'state'
df_common_club.rename(columns={'us_state': 'state'}, inplace=True)

df_common_club.head(2)

,first_name,last_name,dob,company_id,last_active,score,member_since,state
0,Mikayla,Brennan,1966-11-02,2,2018-07-04,84,1989,IL
1,Thomas,Holmes,1962-11-29,1,2018-05-15,92,1972,WI

In [ ]:
df_common_club['source_dataframe'] = 'common_club'
df_wealthy['source_dataframe'] = 'wealthy'

In [ ]:
combined_df = pd.concat([df_common_club, df_wealthy], ignore_index=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16118 entries, 0 to 16117
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   first_name        16118 non-null  object
 1   last_name         16118 non-null  object
 2   dob               16118 non-null  datetime64[ns]
 3   company_id        16118 non-null  int64
 4   last_active       16118 non-null  datetime64[ns]
 5   score             16118 non-null  int64
 6   member_since      16118 non-null  int64
 7   state             16118 non-null  object
 8   source_dataframe  16118 non-null  object
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 1.1+ MB

In [ ]:
# Order the rows based on 'last_name', 'first_name', and 'date_of_birth'
df_sorted = combined_df.sort_values(by=['last_name', 'first_name', 'dob'])
df_sorted.head(50)

,first_name,last_name,dob,company_id,last_active,score,member_since,state,source_dataframe
7212,Evelyn,Abbott,1961-12-27,13,2018-11-23,38,2000,NV,common_club
6412,Jeff,Abbott,1983-07-11,9,2018-09-19,96,1998,MT,common_club
5041,Kristine,Abbott,1994-06-08,13,2018-11-15,58,2003,CA,common_club
3008,Paula,Abbott,1992-06-20,18,2018-12-17,95,1995,IL,common_club
1792,Monica,Abbott Dr.,1977-02-27,4,2018-05-11,78,2018,UT,common_club
11859,Andrew,Acevedo,1970-08-23,2,2018-02-15,58,2006,AL,wealthy
11389,Christopher,Acevedo,1983-01-24,13,2018-05-29,32,2003,OR,wealthy
10888,Colleen,Acevedo,1976-01-02,4,2018-05-06,41,2014,IN,wealthy
11558,Kurt,Acevedo,1959-08-17,9,2018-12-02,68,1974,MD,wealthy
15765,Maria,Acevedo,1974-11-03,11,2018-03-29,84,1977,WA,wealthy
2041,Mathew,Acevedo,1975-01-17,10,2018-10-15,38,2001,LA,common_club
2818,Robin,Acevedo,1985-08-15,16,2018-11-16,72,2013,OK,common_club
15334,Michael,Acosta,1984-08-28,1,2018-08-17,59,1978,WY,wealthy
11788,Samantha,Acosta,1974-07-28,15,2019-01-03,79,1994,MD,wealthy
6057,Samuel,Acosta,1962-06-19,11,2018-02-24,41,1970,MI,common_club
9088,Shawn,Acosta,1972-07-20,2,2018-12-14,93,2004,OK,wealthy
3007,Stephanie,Acosta MD,1991-07-31,0,2018-02-15,85,1975,SD,common_club
14033,Alan,Adams,1980-10-12,20,2018-10-10,40,1983,ID,wealthy
9304,Alexander,Adams,1991-01-26,2,2018-04-03,35,1988,NM,wealthy
5765,Amanda,Adams,1963-07-19,5,2018-04-09,61,2017,ID,common_club
12885,Andrew,Adams,1987-06-26,15,2018-07-20,86,2007,UT,wealthy
11447,Anna,Adams,1962-09-03,2,2018-08-20,39,2006,MD,wealthy
5568,Ashley,Adams,1995-04-18,1,2018-01-13,77,2008,MD,common_club
8831,Brianna,Adams,1982-04-08,20,2018-06-08,48,2016,NJ,wealthy
7426,Brittany,Adams,1979-12-24,20,2018-12-11,85,1979,ID,common_club
3604,Catherine,Adams,1975-02-27,2,2018-01-12,96,2018,NY,common_club
13640,Cheryl,Adams,1975-02-08,2,2018-07-21,63,2005,CA,wealthy
7628,Dan,Adams,1987-09-08,14,2018-03-05,91,1981,ID,common_club
11086,Danny,Adams,1978-07-02,14,2018-04-29,57,1977,IA,wealthy
14012,David,Adams,1989-03-06,4,2018-10-13,41,1996,LA,wealthy
6896,Debra,Adams,1981-04-27,9,2018-10-23,93,2007,MI,common_club
13140,Denise,Adams,1959-10-09,1,2018-02-24,39,1994,DE,wealthy
13864,Dominic,Adams,1973-07-21,7,2018-02-10,87,2009,IN,wealthy
2961,Edward,Adams,1973-01-14,12,2018-11-19,83,2014,WY,common_club
1327,Elizabeth,Adams,1996-05-28,15,2018-10-12,87,2012,NY,common_club
3717,Emily,Adams,1978-06-28,2,2018-04-11,97,1990,NY,common_club
15567,Gabriel,Adams,1978-04-03,19,2018-07-04,34,1981,MI,wealthy
11613,Gregory,Adams,1984-01-07,19,2018-10-01,98,1998,UT,wealthy
15900,Heather,Adams,1992-12-08,8,2018-12-09,75,2010,MA,wealthy
4762,Jaime,Adams,1969-07-04,12,2018-11-23,67,2014,OR,common_club
4823,James,Adams,1996-01-26,12,2018-08-18,88,1990,ND,common_club
6485,Jasmine,Adams,1989-07-01,19,2018-07-24,72,2009,ID,common_club
2711,Jasmine,Adams,1997-04-02,19,2018-12-25,74,2016,NC,common_club
11097,Jeffery,Adams,1996-04-05,15,2018-02-06,48,2007,OH,wealthy
13074,Jennifer,Adams,1986-01-27,20,2018-03-29,66,2006,OR,wealthy
14058,Jessica,Adams,1972-09-18,15,2018-07-10,89,1970,FL,wealthy
7327,Jessica,Adams,1979-07-26,17,2018-05-04,76,2012,MO,common_club
9729,Jill,Adams,1994-09-25,6,2018-03-09,72,1976,OH,wealthy
4717,John,Adams,1960-05-25,19,2018-01-30,93,1979,TX,common_club
13082,Karen,Adams,1998-08-29,7,2018-02-25,78,1973,HI,wealthy

In [ ]:
combined_df.describe()

,dob,company_id,last_active,score,member_since
count,16118,16118.000000,16118,16118.000000,16118.000000
mean,1979-01-17 05:48:20.459114048,9.975679,2018-07-08 12:16:37.046779904,64.411776,1994.112855
min,1959-01-10 00:00:00,0.000000,2018-01-09 00:00:00,30.000000,1970.000000
25%,1969-02-11 00:00:00,5.000000,2018-04-08 00:00:00,47.000000,1982.000000
50%,1979-03-01 12:00:00,10.000000,2018-07-08 00:00:00,64.000000,1994.000000
75%,1989-02-19 18:00:00,15.000000,2018-10-08 00:00:00,82.000000,2006.000000
max,1999-01-09 00:00:00,20.000000,2019-01-09 00:00:00,99.000000,2019.000000
std,NaN,6.086339,NaN,20.212966,14.129700

In [ ]:
null_values = combined_df.isnull().any()

# Display columns with null values
columns_with_null = null_values[null_values].index.tolist()
print("Columns with null values:", columns_with_null)

Columns with null values: []

In [ ]:
combined_df['dob_year_helper'] = combined_df['dob'].dt.year
combined_df['last_active_year_helper'] = combined_df['last_active'].dt.year
combined_df.head()

,first_name,last_name,dob,company_id,last_active,score,member_since,state,source_dataframe,dob_year_helper,last_active_year_helper
0,Mikayla,Brennan,1966-11-02,2,2018-07-04,84,1989,IL,common_club,1966,2018
1,Thomas,Holmes,1962-11-29,1,2018-05-15,92,1972,WI,common_club,1962,2018
2,Corey,Jones,1964-12-20,7,2018-08-25,47,2007,NM,common_club,1964,2018
3,Laura,Howard,1989-04-26,8,2018-04-15,76,1976,NJ,common_club,1989,2018
4,Daniel,Mclaughlin,1966-06-19,13,2018-05-10,56,1986,RI,common_club,1966,2018

In [ ]:
#check the chronological order

combined_df['eliminate'] = (combined_df['dob_year_helper'] > combined_df['member_since']) | (combined_df['last_active_year_helper'] < combined_df['member_since']) | (combined_df['last_active'] < combined_df['dob'])
combined_df.head()

#I also would check month accuracy and days, according to months

,first_name,last_name,dob,company_id,last_active,score,member_since,state,source_dataframe,dob_year_helper,last_active_year_helper,eliminate
0,Mikayla,Brennan,1966-11-02,2,2018-07-04,84,1989,IL,common_club,1966,2018,False
1,Thomas,Holmes,1962-11-29,1,2018-05-15,92,1972,WI,common_club,1962,2018,False
2,Corey,Jones,1964-12-20,7,2018-08-25,47,2007,NM,common_club,1964,2018,False
3,Laura,Howard,1989-04-26,8,2018-04-15,76,1976,NJ,common_club,1989,2018,True
4,Daniel,Mclaughlin,1966-06-19,13,2018-05-10,56,1986,RI,common_club,1966,2018,False

In [ ]:
#drop helpers
combined_df.drop(['dob_year_helper', 'last_active_year_helper'], axis=1, inplace=True)

combined_df.head(2)

,first_name,last_name,dob,company_id,last_active,score,member_since,state,source_dataframe,eliminate
0,Mikayla,Brennan,1966-11-02,2,2018-07-04,84,1989,IL,common_club,False
1,Thomas,Holmes,1962-11-29,1,2018-05-15,92,1972,WI,common_club,False

In [ ]:
#convert dates back to dd/mm/yyyy form
combined_df['dob'] = combined_df['dob'].dt.strftime('%d/%m/%Y')
combined_df['last_active'] = combined_df['last_active'].dt.strftime('%d/%m/%Y')

combined_df.head()

,first_name,last_name,dob,company_id,last_active,score,member_since,state,source_dataframe,eliminate
0,Mikayla,Brennan,02/11/1966,2,04/07/2018,84,1989,IL,common_club,False
1,Thomas,Holmes,29/11/1962,1,15/05/2018,92,1972,WI,common_club,False
2,Corey,Jones,20/12/1964,7,25/08/2018,47,2007,NM,common_club,False
3,Laura,Howard,26/04/1989,8,15/04/2018,76,1976,NJ,common_club,True
4,Daniel,Mclaughlin,19/06/1966,13,10/05/2018,56,1986,RI,common_club,False

In [ ]:
#replace companies name
df_companies = pd.read_csv('/content/companies.csv')

In [ ]:
df_companies.head()

   id                        name
0   0         Williams-Stephenson
1   1  Brown, Vasquez and Sanchez
2   2                Keller Group
3   3                Mcdonald Inc
4   4                   Bruce Inc

In [ ]:
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   name    20 non-null     object
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes

In [ ]:
id_to_name_mapping = df_companies.set_index('id')['name'].to_dict()

print(id_to_name_mapping)

{0: 'Williams-Stephenson', 1: 'Brown, Vasquez and Sanchez', 2: 'Keller Group', 3: 'Mcdonald Inc', 4: 'Bruce Inc', 5: 'Kelley, Gilbert and Jackson', 6: 'Taylor-Alvarez', 7: 'Alvarez, Schaefer and Robertson', 8: 'Smith, Torres and Matthews', 9: 'Martin, Mcknight and Clark', 10: 'Scott and Sons', 11: 'Rivera-Morrow', 12: 'Hunter Ltd', 13: 'Mullen, Huffman and Vasquez', 14: 'Jackson, Carlson and Contreras', 15: 'Pearson Group', 16: 'Parker Group', 17: 'Peterson and Sons', 18: 'Hopkins, Barnes and Ward', 19: 'Rivera Ltd'}

In [ ]:
combined_df['company_name'] = combined_df['company_id'].map(id_to_name_mapping)

In [ ]:
combined_df.head()

,first_name,last_name,dob,company_id,last_active,score,member_since,state,source_dataframe,eliminate,company_name
0,Mikayla,Brennan,02/11/1966,2,04/07/2018,84,1989,IL,common_club,False,Keller Group
1,Thomas,Holmes,29/11/1962,1,15/05/2018,92,1972,WI,common_club,False,"Brown, Vasquez and Sanchez"
2,Corey,Jones,20/12/1964,7,25/08/2018,47,2007,NM,common_club,False,"Alvarez, Schaefer and Robertson"
3,Laura,Howard,26/04/1989,8,15/04/2018,76,1976,NJ,common_club,True,"Smith, Torres and Matthews"
4,Daniel,Mclaughlin,19/06/1966,13,10/05/2018,56,1986,RI,common_club,False,"Mullen, Huffman and Vasquez"

In [ ]:

rows_with_company_id_0 = combined_df[combined_df['company_id'] == 0]
print(rows_with_company_id_0)

      first_name  last_name         dob  company_id last_active  score  \
8          Traci   Anderson  14/06/1987           0  21/10/2018     33
16           Amy    Pham MD  18/08/1992           0  19/02/2018     73
28        Justin      Jones  27/06/1996           0  29/09/2018     49
43        Amanda       Lowe  23/09/1969           0  14/04/2018     75
90         Kathy      Marks  12/06/1959           0  25/03/2018     61
...          ...        ...         ...         ...         ...    ...
16078      Kevin      Davis  20/04/1994           0  17/07/2018     57
16086      Sarah      Allen  19/08/1978           0  18/12/2018     56
16094    Katelyn  Rodriguez  11/05/1992           0  29/10/2018     46
16111      Debra      Combs  26/03/1981           0  05/10/2018     99
16113    Michael        Kim  02/12/1981           0  18/03/2018     92

       member_since state source_dataframe  eliminate         company_name
8              1993    TN      common_club      False  Williams-Stephenson
16             2013    ID      common_club      False  Williams-Stephenson
28             2006    ME      common_club      False  Williams-Stephenson
43             2016    SC      common_club      False  Williams-Stephenson
90             1997    TX      common_club      False  Williams-Stephenson
...             ...   ...              ...        ...                  ...
16078          2003    MO          wealthy      False  Williams-Stephenson
16086          2006    OK          wealthy      False  Williams-Stephenson
16094          1993    TN          wealthy      False  Williams-Stephenson
16111          1983    LA          wealthy      False  Williams-Stephenson
16113          2000    NM          wealthy      False  Williams-Stephenson

[790 rows x 11 columns]

In [ ]:
combined_df.drop('company_id', axis=1, inplace=True)

In [ ]:
#reorder
combined_df.insert(3, 'company_name', combined_df.pop('company_name'))

In [ ]:
combined_df.head()

,first_name,last_name,dob,company_name,last_active,score,member_since,state,source_dataframe,eliminate
0,Mikayla,Brennan,02/11/1966,Keller Group,04/07/2018,84,1989,IL,common_club,False
1,Thomas,Holmes,29/11/1962,"Brown, Vasquez and Sanchez",15/05/2018,92,1972,WI,common_club,False
2,Corey,Jones,20/12/1964,"Alvarez, Schaefer and Robertson",25/08/2018,47,2007,NM,common_club,False
3,Laura,Howard,26/04/1989,"Smith, Torres and Matthews",15/04/2018,76,1976,NJ,common_club,True
4,Daniel,Mclaughlin,19/06/1966,"Mullen, Huffman and Vasquez",10/05/2018,56,1986,RI,common_club,False

In [ ]:
# write bad records into a separate file
eliminate_rows = combined_df[combined_df['eliminate']]
print(eliminate_rows.shape[0])

3370

In [ ]:

#save into a csv
eliminate_rows.to_csv('eliminate_rows.csv', index=False)

In [ ]:
combined_df = combined_df[~combined_df['eliminate']]

In [ ]:
combined_df.dropna()
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12748 entries, 0 to 16117
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   first_name        12748 non-null  object
 1   last_name         12748 non-null  object
 2   dob               12748 non-null  object
 3   company_name      12151 non-null  object
 4   last_active       12748 non-null  object
 5   score             12748 non-null  int64
 6   member_since      12748 non-null  int64
 7   state             12748 non-null  object
 8   source_dataframe  12748 non-null  object
 9   eliminate         12748 non-null  bool
dtypes: bool(1), int64(2), object(7)
memory usage: 1008.4+ KB

In [ ]:
#drop helper column and reindex
combined_df.reset_index(drop=True, inplace=True)
combined_df.drop('eliminate', axis=1, inplace=True)
combined_df.tail()

,first_name,last_name,dob,company_name,last_active,score,member_since,state,source_dataframe
12743,Michael,Kim,02/12/1981,Williams-Stephenson,18/03/2018,92,2000,NM,wealthy
12744,John,White,02/10/1994,"Mullen, Huffman and Vasquez",28/09/2018,56,2016,FL,wealthy
12745,Eric,Cook,10/10/1965,Taylor-Alvarez,08/10/2018,43,1998,MN,wealthy
12746,Alexandria,Smith,27/07/1982,Taylor-Alvarez,22/10/2018,66,1983,NV,wealthy
12747,James,Anderson,12/01/1968,"Alvarez, Schaefer and Robertson",07/07/2018,92,2014,SC,wealthy

2. Data model

In [ ]:
# CREATE TABLE Company (
#     company_id INT PRIMARY KEY AUTO_INCREMENT,
#     company_name VARCHAR(255) NOT NULL
# );

# CREATE TABLE Member (
#     member_id INT PRIMARY KEY AUTO_INCREMENT,
#     first_name VARCHAR(255) NOT NULL,
#     last_name VARCHAR(255) NOT NULL,
#     date_of_birth DATE,
#     last_active DATE,
#     member_since DATE,
#     state VARCHAR(255),
#     data_source VARCHAR(255),
#     company_id INT,
#     FOREIGN KEY (company_id) REFERENCES Company(company_id)
# );

In [ ]:
#load data into the model

conn = sqlite3.connect('membership.db')

# Create tables
conn.execute('''
CREATE TABLE IF NOT EXISTS Company (
    company_id INTEGER PRIMARY KEY AUTOINCREMENT,
    company_name TEXT NOT NULL
)
''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Member (
    member_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE,
    last_active DATE,
    member_since DATE,
    state TEXT,
    data_source TEXT,
    company_id INTEGER,
    FOREIGN KEY (company_id) REFERENCES Company(company_id)
)
''')

In [ ]:
# Insert data into Company table
for company_name in combined_df['company_name'].unique():
    conn.execute('INSERT INTO Company (company_name) VALUES (?)', (company_name,))

# Insert data into Member table
for _, row in combined_df.iterrows():
    company_id = conn.execute('SELECT company_id FROM Company WHERE company_name = ?', (row['company_name'],)).fetchone()[0]
    conn.execute('''
    INSERT INTO Member (first_name, last_name, date_of_birth, last_active, member_since, state, data_source, company_id)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    ''', (row['first_name'], row['last_name'], row['date_of_birth'], row['last_active'], row['member_since'], row['state'], row['data_source'], company_id))

# Commit changes and close connection
conn.commit()
conn.close()